@page "{Id}"
@using PlateDelivery.Core.Security
@model PlateDelivery.Web.Pages.Leon.TopYarTmps.ExceptTopYarTmpModel
@{
    
}


<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                @ViewBag.Title
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>


            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="alert alert-success rounded text-danger">
                آیا از تایید رکورد اطمینان دارید؟
            </div>
            <form method="post">
                <input type="hidden" asp-for="model.Id" />
                <p> استان : @Model.model.ProvinceName</p>
                <p> شهر/مرکز : @Model.model.SubProvince</p>
                <p> شماره مرجع : @Model.model.RetrivalRef</p>
                <p> عنوان خدمت : @Model.model.ServiceName</p>
                <p> کد خدمت : @Model.model.ServiceCode</p>
                <p> مبلغ : @long.Parse(Model.model.Amount).ToString("#,##0") ریال</p>
                <input type="submit" class="btn btn-success btn-round" value="تایید" />
                <a asp-page="Index" class="btn btn-info btn-round">انصراف</a>
            </form>
        </div>
    </div>
</div>
