@page
@using PlateDelivery.Core.Convertors
@using PlateDelivery.Core.Services.TopYarTmps
@model PlateDelivery.Web.Pages.Leon.TopYarTmps.IndexModel
@inject ITopYarTmpService TopYarTmpService
@{
    var Title = ViewBag.Title;
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                @Title
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>


            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="datatable-checkbox_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    @if (Model.TopYarTmpViewModel.IbanMessage == null
                    && Model.TopYarTmpViewModel.ServiceMessage == null
                    && Model.TopYarTmpViewModel.MultiplexMessage == null)
                    {
                        <div class="row">
                            <form>
                                <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                    <input type="text" name="filterByRRN" style="margin-top:5px" class="form-control" value="@ViewData["filterRRN"]" placeholder="جستجو بر اساس شماره مرجع" />
                                    <input type="text" name="filterByTrackingNo" style="margin-top:5px" class="form-control" value="@ViewData["filterTrackingNo"]" placeholder="جستجو بر اساس شماره پیگیری" />
                                    <input type="text" name="filterByTransactionDate" style="margin-top:5px" class="form-control" value="@ViewData["filterTransactionDate"]" placeholder="جستجو بر اساس تاریخ تراکنش" />
                                    <input type="text" name="filterByIban" style="margin-top:5px" class="form-control" value="@ViewData["filterIban"]" placeholder="جستجو بر اساس شماره شبا" />
                                    <input type="text" name="filterByAmount" style="margin-top:5px" class="form-control" value="@ViewData["filterAmount"]" placeholder="جستجو بر اساس مبلغ" />
                                    <input type="text" name="filterByTerminal" style="margin-top:5px" class="form-control" value="@ViewData["filterTerminal"]" placeholder="جستجو بر اساس شماره پایانه" />
                                    <input type="text" name="filterByServiceCode" style="margin-top:5px" class="form-control" value="@ViewData["filterServiceCode"]" placeholder="جستجو بر اساس کد خدمت" />
                                    <input type="text" name="filterByProvinceName" style="margin-top:5px" class="form-control" value="@ViewData["filterProvinceName"]" placeholder="جستجو بر اساس نام خدمت" />
                                    <input type="text" name="filterBySubProvince" style="margin-top:5px" class="form-control" value="@ViewData["filterSubProvince"]" placeholder="جستجو بر اساس شهر / مرکز" />
                                    <br />
                                    <br />                                <input type="submit" value="فیلتر کن" class="btn btn-success btn-round" />
                                    <a href="/Leon/TopYarTmps" class="btn btn-default btn-round">حذف فیلتر</a>
                                </div>

                            </form>
                        </div>
                    }
                    <hr />
                    @if (Model.TopYarTmpViewModel.ProvinceMessage != null)
                    {
                        <span class="alert-danger">@Model.TopYarTmpViewModel.ProvinceMessage</span>
                    }
                    @if (Model.TopYarTmpViewModel.IbanMessage != null
                    || Model.TopYarTmpViewModel.ServiceMessage != null
                    || Model.TopYarTmpViewModel.MultiplexMessage != null)
                    {
                        <span class="alert-danger">@Model.TopYarTmpViewModel.IbanMessage</span>
                        <br />
                        <span class="alert-danger">@Model.TopYarTmpViewModel.ServiceMessage</span>
                        <br />
                        <span class="alert-danger">@Model.TopYarTmpViewModel.MultiplexMessage</span>
                    }
                    <br />
                    <br />

                    <div class="row">
                        <div class="col-sm-12">
                            @* <a href="/Leon/TopYarTmps/CreateTopYarTmp" class="btn btn-success">افزودن تراکنش جدید</a> *@
                            @if (Model.TopYarTmpViewModel.TopYarTmps.Count == 0)
                            {
                                <a href="/Leon/TopYarTmps/ImportTopYar" class="btn btn-success">بارگزاری فایل</a>
                                <div class="alert alert-danger ">
                                    رکوردی یافت نشد
                                </div>
                            }

                            else
                            {
                                <a href="/Leon/TopYarTmps/DeteleTmp" class="btn btn-danger">حذف دیتا</a>
                                @if (Model.TopYarTmpViewModel.IbanMessage != null)
                                {
                                    <a href="/Leon/TopYarTmps/DeteleUnusedIban" class="btn btn-danger">حذف رکوردهای اضافی</a>
                                    int rowCount = 1;
                                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action dataTable no-footer" role="grid" aria-describedby="datatable-checkbox_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="hidden-xs">ردیف</th>
                                                <th>استان</th>
                                                <th>شهر / مرکز</th>
                                                <th>شماره مرجع</th>
                                                <th>شماره پیگیری</th>
                                                <th>تاریخ تراکنش</th>
                                                <th>شماره شبا</th>
                                                <th>مبلغ</th>
                                                <th>شماره پایانه</th>
                                                <th>نام خدمت</th>
                                                <th>کد خدمت</th>
                                                <th>تاریخ ثبت</th>
                                                <th>عملیات</th>
                                            </tr>
                                        </thead>


                                        <tbody>

                                            @foreach (var item in Model.TopYarTmpViewModel.TopYarTmps)
                                            {

                                                <tr role="row" class="odd">
                                                    <td class="hidden-xs">@rowCount</td>
                                                    <td>@item.ProvinceName</td>
                                                    <td>@item.SubProvince</td>
                                                    <td>@item.RetrivalRef</td>
                                                    <td>@item.TrackingNo</td>
                                                    <td>@item.TransactionDate</td>
                                                    <td>@item.Iban</td>
                                                    <td>@long.Parse(item.Amount).ToString("##,# ریال")</td>
                                                    <td>@item.Terminal</td>
                                                    <td>@item.ServiceName</td>
                                                    <td>@item.ServiceCode</td>
                                                    <td>@item.CreationDate.ToShamsi()</td>
                                                    <td>
                                                        <a href="/Leon/TopYarTmps/EditTopYarTmp/@item.Id" class="btn btn-warning btn-xs">ویرایش</a>
                                                        <a href="/Leon/TopYarTmps/DeleteTopYarTmp/@item.Id" class="btn btn-danger btn-xs">حذف</a>
                                                    </td>
                                                </tr>
                                                rowCount++;
                                            }
                                        </tbody>
                                    </table>
                                }
                                else if (Model.TopYarTmpViewModel.ServiceMessage != null)
                                {
                                    int rowCount = 1;
                                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action dataTable no-footer" role="grid" aria-describedby="datatable-checkbox_info">
                                        <thead>
                                            <tr role="row">
                                                <th>عنوان خدمت</th>
                                                <th>کد خدمت</th>
                                                <th>مبلغ</th>
                                                <th>عملیات</th>
                                            </tr>
                                        </thead>


                                        <tbody>

                                            @foreach (var item in Model.UnregisteredServices)
                                            {

                                                <tr role="row" class="odd">
                                                    <td>@item.ServiceName</td>
                                                    <td>@item.ServiceCode</td>
                                                    <td>@item.Amount.ToString("##,# ریال")</td>
                                                    <td>
                                                        <a href="/Leon/ServiceCodings/RegisterServiceCoding/@item.ServiceCode/@item.ServiceName/@item.Amount" class="btn btn-warning btn-xs">ثبت سرویس</a>
                                                    </td>
                                                </tr>
                                                rowCount++;
                                            }
                                        </tbody>
                                    </table>
                                }
                                else if (Model.TopYarTmpViewModel.ProvinceMessage != null)
                                {
                                    int rowCount = 1;
                                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action dataTable no-footer" role="grid" aria-describedby="datatable-checkbox_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="hidden-xs">ردیف</th>
                                                <th>استان</th>
                                                <th>شهر / مرکز</th>
                                                <th>شماره مرجع</th>
                                                <th>شماره پیگیری</th>
                                                <th>تاریخ تراکنش</th>
                                                <th>شماره شبا</th>
                                                <th>مبلغ</th>
                                                <th>شماره پایانه</th>
                                                <th>نام خدمت</th>
                                                <th>کد خدمت</th>
                                                <th>تاریخ ثبت</th>
                                                <th>عملیات</th>
                                            </tr>
                                        </thead>


                                        <tbody>

                                            @foreach (var item in Model.TopYarTmpViewModel.TopYarTmps)
                                            {

                                                <tr role="row" class="odd">
                                                    <td class="hidden-xs">@rowCount</td>
                                                    <td>@item.ProvinceName</td>
                                                    <td>@item.SubProvince</td>
                                                    <td>@item.RetrivalRef</td>
                                                    <td>@item.TrackingNo</td>
                                                    <td>@item.TransactionDate</td>
                                                    <td>@item.Iban</td>
                                                    <td>@long.Parse(item.Amount).ToString("##,# ریال")</td>
                                                    <td>@item.Terminal</td>
                                                    <td>@item.ServiceName</td>
                                                    <td>@item.ServiceCode</td>
                                                    <td>@item.CreationDate.ToShamsi()</td>
                                                    <td>
                                                        <a href="/Leon/TopYarTmps/EditTopYarTmp/@item.Id" class="btn btn-warning btn-xs">ویرایش</a>
                                                        <a href="/Leon/TopYarTmps/DeleteTopYarTmp/@item.Id" class="btn btn-danger btn-xs">حذف</a>
                                                    </td>
                                                </tr>
                                                rowCount++;
                                            }
                                        </tbody>
                                    </table>
                                }
                                else if (Model.TopYarTmpViewModel.MultiplexMessage != null)
                                {
                                    int rowCount = 1;
                                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action dataTable no-footer" role="grid" aria-describedby="datatable-checkbox_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="hidden-xs">ردیف</th>
                                                <th>استان</th>
                                                <th>شهر / مرکز</th>
                                                <th>شماره مرجع</th>
                                                <th>تاریخ تراکنش</th>
                                                <th>شماره شبا</th>
                                                <th>مبلغ</th>
                                                <th>شماره پایانه</th>
                                                <th>نام خدمت</th>
                                                <th>کد خدمت</th>
                                                <th>تاریخ ثبت</th>
                                                <th>عملیات</th>
                                            </tr>
                                        </thead>


                                        <tbody>

                                            @foreach (var item in Model.TopYarTmpViewModel.TopYarTmps)
                                            {

                                                <tr role="row" class="odd">
                                                    <td class="hidden-xs">@rowCount</td>
                                                    <td>@item.ProvinceName</td>
                                                    <td>@item.SubProvince</td>
                                                    <td>@item.RetrivalRef</td>
                                                    <td>@item.TransactionDate</td>
                                                    <td>@item.Iban</td>
                                                    <td>@long.Parse(item.Amount).ToString("##,# ریال")</td>
                                                    <td>@item.Terminal</td>
                                                    <td>@item.ServiceName</td>
                                                    <td>@item.ServiceCode</td>
                                                    <td>@item.CreationDate.ToShamsi()</td>
                                                    <td>
                                                        <a href="/Leon/ServiceCodings/?take=&filterByServiceName=&filterByServiceCode=@item.ServiceCode" class="btn btn-success btn-xs">بررسی سرویس</a>
                                                        <a href="/Leon/TopYarTmps/EditTopYarTmp/@item.Id" class="btn btn-warning btn-xs">ویرایش</a>
                                                        <a href="/Leon/TopYarTmps/DeleteTopYarTmp/@item.Id" class="btn btn-danger btn-xs">حذف</a>
                                                        <a href="/Leon/TopYarTmps/ExceptTopYarTmp/@item.Id" class="btn btn-primary btn-xs">تایید</a>
                                                    </td>
                                                </tr>
                                                rowCount++;
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <a href="/Leon/TopYarTmps/GenerateDocument" class="btn btn-primary">تبدیل به سند</a>
                                    int rowCount = 1;
                                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action dataTable no-footer" role="grid" aria-describedby="datatable-checkbox_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="hidden-xs">ردیف</th>
                                                <th>استان</th>
                                                <th>شهر / مرکز</th>
                                                <th>شماره مرجع</th>
                                                <th>شماره پیگیری</th>
                                                <th>تاریخ تراکنش</th>
                                                <th>شماره شبا</th>
                                                <th>مبلغ</th>
                                                <th>شماره پایانه</th>
                                                <th>نام خدمت</th>
                                                <th>کد خدمت</th>
                                                <th>تاریخ ثبت</th>
                                                <th>عملیات</th>
                                            </tr>
                                        </thead>


                                        <tbody>

                                            @foreach (var item in Model.TopYarTmpViewModel.TopYarTmps)
                                            {

                                                <tr role="row" class="odd">
                                                    <td class="hidden-xs">@rowCount</td>
                                                    <td>@item.ProvinceName</td>
                                                    <td>@item.SubProvince</td>
                                                    <td>@item.RetrivalRef</td>
                                                    <td>@item.TrackingNo</td>
                                                    <td>@item.TransactionDate</td>
                                                    <td>@item.Iban</td>
                                                    <td>@long.Parse(item.Amount).ToString("##,# ریال")</td>
                                                    <td>@item.Terminal</td>
                                                    <td>@item.ServiceName</td>
                                                    <td>@item.ServiceCode</td>
                                                    <td>@item.CreationDate.ToShamsi()</td>
                                                    <td>
                                                        <a href="/Leon/TopYarTmps/EditTopYarTmp/@item.Id" class="btn btn-warning btn-xs">ویرایش</a>
                                                        <a href="/Leon/TopYarTmps/DeleteTopYarTmp/@item.Id" class="btn btn-danger btn-xs">حذف</a>
                                                    </td>
                                                </tr>
                                                rowCount++;
                                            }
                                        </tbody>
                                    </table>
                                }
                            }

                        </div>
                    </div>
                    @if (Model.TopYarTmpViewModel.IbanMessage == null
                    && Model.TopYarTmpViewModel.ServiceMessage == null
                    && Model.TopYarTmpViewModel.MultiplexMessage == null)
                    {
                        <div class="row">

                            <div class="col-sm-5">
                                <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">نمایش @ViewData["PageID"] تا @ViewData["Take"] از @Model.TopYarTmpViewModel.TopYarTmpCounts رکورد</div>
                            </div>
                            <div class="col-sm-7">

                                <div class="btn-group">
                                    @if (Model.TopYarTmpViewModel.CurrentPage > 1)
                                    {

                                        <a class="btn btn-default" href="/Leon/TopYarTmps?pageId=@(Model.TopYarTmpViewModel.CurrentPage-1)">قبلی</a>

                                        <a class="btn btn-default" href="/Leon/TopYarTmps?pageId=1">اولین صفحه</a>


                                    }

                                    @if (Model.TopYarTmpViewModel.CurrentPage + 4 <= Model.TopYarTmpViewModel.PageCount)
                                    {
                                        @for (int i = Model.TopYarTmpViewModel.CurrentPage; i <= Model.TopYarTmpViewModel.CurrentPage + 4; i++)
                                        {

                                            <a href="/Leon/TopYarTmps?pageId=@i&frrn=@ViewData["filterRRN"]&ftn=@ViewData["filterTrackingNo"]&ftd=@ViewData["filterTransactionDate"]&fiban=@ViewData["filterIban"]&famnt=@ViewData["filterAmount"]&ftrmnl=@ViewData["filterTerminal"]&fsc=@ViewData["filterServiceCode"]&fpn=@ViewData["filterProvinceName"]&fsp=@ViewData["filterSubProvince"]" class="btn btn-default @((i==Model.TopYarTmpViewModel.CurrentPage)? "btn btn-info" : "")">@i</a>

                                        }
                                    }
                                    else
                                    {
                                        for (int i = Model.TopYarTmpViewModel.CurrentPage; i <= Model.TopYarTmpViewModel.PageCount; i++)
                                        {
                                            <a href="/Leon/TopYarTmps?pageId=@i&&frrn=@ViewData["filterRRN"]&ftn=@ViewData["filterTrackingNo"]&ftd=@ViewData["filterTransactionDate"]&fiban=@ViewData["filterIban"]&famnt=@ViewData["filterAmount"]&ftrmnl=@ViewData["filterTerminal"]&fsc=@ViewData["filterServiceCode"]&fpn=@ViewData["filterProvinceName"]&fsp=@ViewData["filterSubProvince"]" class="btn btn-default @((i==Model.TopYarTmpViewModel.CurrentPage)? "btn btn-info" : "")">@i</a>
                                        }
                                    }


                                    @if (Model.TopYarTmpViewModel.CurrentPage < Model.TopYarTmpViewModel.PageCount)
                                    {

                                        <a class="btn btn-default" href="/Leon/TopYarTmps?pageId=@(Model.TopYarTmpViewModel.CurrentPage + 1)">بعدی</a>
                                        <a class="btn btn-default" href="/Leon/TopYarTmps?pageId=@(Model.TopYarTmpViewModel.PageCount)">اخرین صفحه</a>

                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>