@page "{id}"
@using PlateDelivery.Core.Security
@model PlateDelivery.Web.Pages.Leon.Representations.RestoreRepresentationModel
@{
    ViewData["Title"] = "بازیابی نمایندگی";
}


<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                اطلاعات نمایندگی

            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>


            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="alert alert-success rounded text-danger">
                آیا میخواهید این نمایندگی را بازیابی نمایید ؟
            </div>
            <form method="post">
                <input type="hidden" name="id" value="@ViewData["id"]" />

                <p> کد نمایندگی : @Model.model.RepresentationCode</p>
                <p> نام و نام خانوادگی نماینده : @Model.model.BrokerName</p>
                <p> کد نماینده : @Model.model.BrokerCode</p>
                <p> تلفن نماینده : @Model.model.BrokerTell</p>
                <p> موبایل نماینده : @Model.model.BrokerMobile</p>
                <input type="submit" class="btn btn-success btn-round" value="بازیابی" />
                <a asp-page="Index" class="btn btn-info btn-round">انصراف</a>
            </form>
        </div>
    </div>
</div>
